[submodule "include/SDL"]
	path = include/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "tool/emsdk"]
	path = tool/emsdk
	url = https://github.com/emscripten-core/emsdk
[submodule "include/mongoose"]
	path = include/mongoose
	url = https://github.com/cesanta/mongoose.git
[submodule "include/SDL_net"]
	path = include/SDL_net
	url = https://github.com/libsdl-org/SDL_net.git
